.box 
  .links
    %span.link
      = link_to 'Back', messages_path
    
  %h2 New message
  
  %p.description Lorem ipsum dolor sit amet
  
  - form_for(@message) do |f|
    = f.error_messages
    = render :partial => 'form', :object => f
    .spacer
      = f.submit "Create"



