/* project: internet center template
   author: luka cvrk (www.solucija.com) */

   
/* default styles
   -------------- */
   
body { 
	padding: 0; 
	margin: 0; 
	font: 0.7em Arial, sans-serif; 
	line-height: 1.5em;
	background: #fff; 
	color: #454545; 
  background: url(../images/../images/bg_body.gif) repeat-x scroll left top;
}

img {
  padding: 2px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

a {
	color: #185DA0;
}

a:hover {
	color: #9EC068;
}

a.title {
	color: #FE6700;
	background: #FFF;
}

h1 {
	font: bold 2em Arial, Sans-Serif;
	letter-spacing: -1px; 
	padding: 0 0 0 0px;
	margin: 0;
}

h1, h2, h3 {
	color: #185DA0;
}

h1 a, h2 a {
	text-decoration: none;
}

h1 a:hover, h2 a:hover {
	color: #FF6600;
}


h2 { 
	margin: 0; 
	padding: 0; 
	font: bold 1.7em Arial, Sans-Serif; 
	letter-spacing: -1px;
}

h3 {
	margin: 0; 
	padding: 0; 
	letter-spacing: -1px;
}

h2 { 
	margin-bottom: 5px; 
}

p {	
	margin: 0 0 5px 0;
	
}

ul { 
	margin: 0; 
	padding : 0; 
	list-style : none; 
}

form { 
	margin: 0; 
}

input[type='text'], input[type='password'], textarea {
  color: #666666;
  -moz-border-radius-bottomleft:4px;
  -moz-border-radius-bottomright:4px;
  -moz-border-radius-topleft:4px;
  -moz-border-radius-topright:4px;
	width: 250px;
	border: 1px solid #888888; 
	background: url(../images/../images/inputBg.gif) no-repeat scroll left top;
	padding: 4px; 
}

submit, input[type='button'], input[type='submit'] {
  height: 2.2em;
  padding: 4px;
  color: #444;
}

input.search { 
	width: 199px; 
	background: url(../images/../images/inputSearchBg.gif) no-repeat scroll left top;
	padding: 5px 5px 5px 25px; 
	font-weight: bold;
}

input.searchButton {
  height: 2.2em;
  padding: 2px 10px;
  color: #444;
}

input.login, input.password { 
	width: 150px; 
	padding: 4px 4px 4px 20px; 
}

input.login {
  background: url(../images/../images/inputUserBg.gif) no-repeat scroll left top;
}

input.password {
  background: url(../images/../images/inputPasswordBg.gif) no-repeat scroll left top;
}
/* layout
   ------ */

/* Menu */   
div.menu {
  width:100%;
  margin: 0 auto;
  font: 100% "Trebuchet MS",Arial,sans-serif;
  text-align:left
}

div.product_picture {
  float:left;
  padding-right: 5px;
  padding-bottom: 10px;
}

div.menu a {
  color: #555;
  text-decoration: none;
}

div.menu h2 {
  margin: .5em auto 0.3em;
  font-size: 1.3em;
  text-align:center;
  color: #555;
}

dl {
  width: 89%;
  overflow: hidden;
  margin: 0 0 .6em;
  background: url(../images/../images/dot.gif) repeat-x 0 1.2em
}
    
dt,dd.price {
  font-size: 120%;
  font-weight: bold
}

dt {
  float: left;
  padding-right: 3px;
  background-color: #fff;
}

dd {
  margin:0
}

dd.price {
  float: right;
  padding-left: 3px;
  background-color: #fff;
  color: #555;
}

dd.ingredients {
  float: left;
  width: 100%;
  padding: 0px 0;
  color: #555;
}

dd.comments  {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

dd.comments, dd.comments a {
  font-size: .9em;
  color: #888;
}

dd.comments a {
  text-decoration: underline;
}

/* Menu end */
  
div.item_image {
  float: right;
}  
   
div.box {
  background: url(../images/../images/form_background.gif) repeat-x scroll left top;
  padding: 10px 15px 15px 15px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
}

.notify {
		padding: 10px 10px 10px 40px;
		margin: 5px 0 10px 0;
		color: #246088;
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		background: #F4F4F4 url(../images/../images/Information_icon-sm.png) no-repeat scroll 7px 5px;
}

.avatar_thumb {
  float: left; 
  padding-right: 10px;
}

img.today_info_image {
  float: left; 
  padding-top: 5px;
  padding-right: 10px;
  border: 0;
  background-color: transparent;
}

.cart {
  padding: 10px;
  margin: 0 0 10px 0;
  background-color: #DCF2B8;
  color: #246088;
  border-top: 1px solid #9EC068;
  border-bottom: 1px solid #9EC068;
}

div.logo span {
    color: #9EC068;
}

.company_motto {
  padding-left: 2px;
	color: #246088;
}

.content { 
	margin: 10px auto;
	width: 800px; 
  padding: 10px;
}

.header { 
	height: 45px; 
}

.top_info {
	float: right;
	width: 570px;
	padding: 0 0 4px 0;
	border-bottom: 1px solid #eee;
}

	.top_info_left {
		width: 240px;
		float: left;
	}

	.top_info_right {
		float: right;
		width: 310px;
		padding: 0 0 0 15px;
		border-left: 1px solid #999;
	}

.slogan {
	font-size: 0.9em;
	width: 160px;
}


.bar { 
	clear: both;
	font-size: 1.1em;
	height: 30px; 
	margin: 0 0 0 0px; 
}

.bar .right_bar {
  float: right;
}

.right_bar li a {
  color: #454545;
}
	.bar li { 
		margin: 0; 
		padding: 4px 8px 8px 8px;
		color: #808080;
		float: left; 
	}
	
	.bar li.active { 
		background: url(../images/../images/bar.gif) no-repeat center bottom;
		color: #9EC068;
		font-weight: bold; 
		padding-bottom: 8px; 
	}

	.bar a { 
		font-weight: bold;
		color: #4A8EBC; 
	} 

.search_field { 
	background: #DCF2B8 url(../images/../images/barbg.gif) no-repeat;
	color: #000;
	border-top: 1px solid #9EC068;
	border-bottom: 1px solid #9EC068;
	clear: both;
	text-align: center; 
	padding: 10px 0 5px 0;
	margin-bottom: 10px;
}

.subheader {
	margin: 3px 0 10px 0;
	padding: 5px 8px 3px 8px;
	background: #f4f4f4 url(../images/../images/subheaderbg.gif) no-repeat;
	color: #808080;
	border-bottom: 1px solid #ccc;
}

/* left side
   --------- */

.left {
	float: left;
	width: 529px;
	margin: 0 0 10px 0;
}
	.left_articles {
		margin: 0px 0 10px 0;
	}

	.left_links {
		border: 1px solid #eee;
		padding: 10px 10px 10px 15px;	
		margin: 0 0 10px 0;
	}
	
	.left_links img {
	  padding: 0;
	  border: 0;
	}
	
	.clearfix {
	  clear: both;
	}
	
	.left_links:hover {
		border: 1px solid #ccc;
	}
	
	.left_message {
		border: 1px solid #eee;
		padding: 10px 10px 10px 75px;	
		margin: 0 0 10px 0;
		background: #fff url(../images/../images/chef.jpg) no-repeat bottom left;
		color: #454545; 
	}
	
	.left_message:hover {
		border: 1px solid #ccc;
	}
	
		.left_side {
			float: left;
			width: 180px;
		}
		
		.right_side {
			float: right;
			width: 200px;
			border-left: 1px solid #eee;
			padding: 0 0 0 20px;
		}
		
	.left_box {
		background: #f4f4f4;
		color: #000;
		border: 1px solid #ccc;
		padding: 10px;
	}
	
/* right side
   ---------- */
		
.right {
	float: right;
	width: 260px;
	margin: 0 0 10px 0;
}

	.right_login {
		padding: 10px;
		margin: 0 0 10px 0;
		background: #A9D4F2;
		color: #246088;
		border-top: 1px solid #4A8EBC;
		border-bottom: 1px solid #4A8EBC;
	}

	.right_articles {
		border: 1px solid #eee;
		padding: 8px;	
		margin: 0 0 10px 0;
	}
	
	.right_articles:hover {
		border: 1px solid #ccc;
	}
		
.image {
	float: left;
	margin: 0 9px 3px 0;
}

/* footer
   ------ */
#footer {
  background:#ffffff url(../images/../images/img18.gif) repeat-x scroll left bottom;
  padding:40px 0;
  clear: both;
	text-align: center;
	line-height: 1.8em;
	color: #808080;
}

.footer a {
	color: #9EC068;
	background: #fff;
}
div.box h2 {
	padding-bottom: 0;
	margin-bottom: 0;
}
div.box p.description{padding-bottom:14px;}

div.box label{
	display:block;
	margin-bottom:10px;
	font-size: 1.3em;
	color: #aaa;
}

div.box label span{
	display:block;
	float:left;
	padding: 0px 6px 0 0;
	width:130px;
	text-align:left;
	font-weight:bold;
  color: #888;
}
.spacer{
  margin-left:135px;
	margin-bottom:10px;
	font-size:11px;
	color:#555555;
}

p.label {
    width: 130px;
    float: left;
	color: #888;
    font-weight:bold;
}

p.value {
    margin-left: 135px;
    color: #aaa;
}

p.label, p.value {
    font-size: 1.3em;
    margin-bottom: 10px;
}

/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel,div.star-rating{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(../images/delete.gif) no-repeat 0 -16px}
div.star-rating,div.star-rating a{background:url(../images/star.gif) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -16px!important}
div.star-rating-hover a{background-position:0 -32px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}
