%h1 Listing users

%table
  %tr
    %th login
    %th email
    %th role

  - @users.each do |u|
    %tr
      %td= h u.login
      %td= h u.email
      %td= h u.role

%br

= link_to 'New user', new_user_path

