%div.box
  %h2 New user

  - form_for @user, :html => { :multipart => true } do |f|
    = f.error_messages
    = render :partial => "form", :object => f
    %div.spacer
      = f.submit "Register"
  
- content_for :subheader do
  %b Register
  %br
  This page allows you to register
