.box
  .links
    %span.back
      =link_to 'Back', edit_product_path(@property.product)
      
  %h2 New property
  %p.description Lorem ipsum dolor sit amet
  
  - form_for(@property) do |f|
    = f.error_messages
    = render :partial => 'form', :object => f
    .spacer
      = f.submit 'Create'

  = render :partial => 'products/product', :object => @product
