%div.box
  %h2 New product category

  - form_for @product_category do |f|
    = f.error_messages
    = render :partial => "form", :object => f
    %div.spacer
      = f.submit "Create"

= link_to 'Back', product_categories_path
- content_for :subheader do
  %b New Product category
  %br
  This page allows you to create new product category
