%div.box
  %h2 Product category
  %p.description Test
  
  %label
    %span Name:
    = h @product_category.name


= link_to 'Edit', edit_product_category_path(@product_category)
|
= link_to 'Back', product_categories_path
