%p
  %b Neme:
  =h @product_category.name

Products:
%ul
  - @product_category.products.each do |p|
    %li= p.name

= link_to 'Edit', edit_product_category_path(@product_category)
|
= link_to 'Back', product_categories_path
