%div.box
  .links
    %span.back
      = link_to 'Back', products_path
      
  %h2 New product
  %p.description Lorem ipsum dolor sit amet

  - form_for @product, :html => { :multipart => true } do |f|
    = f.error_messages
    = render :partial => "form", :object => f
    %div.spacer
      = f.submit "Create"

- content_for :subheader do
  %b New product 
  %br
  This page allows you to create a new product
