%p
  %b Neme:
  =h @product.name

%p
  %b Description:
  =h @product.description 
   
%p
  %b Price:
  =h @product.price

%p
  %b Product category:
  =h @product.product_category
  
= link_to 'Edit', edit_product_path(@product)
|
= link_to 'Back', products_path
