%p
  = image_tag @product.photo.url(:medium)
%p
  %b Name:
  =h @product.name

%p
  %b Description:
  =h @product.description 
   
%p
  %b Price:
  =h @product.price

%p
  %b Published
  =h @product.published ? 'yes' : 'no'

%p
  %b Product category:
  = link_to @product.product_category, @product.product_category
  
= link_to 'Edit', edit_product_path(@product)
|
= link_to 'Back', products_path
