%h1 Order details
- form_for order, :url => '/store/checkout' do |f|
  =f.label "Notes"
  %br
  =f.text_area :note
  %br
  =f.label 'Order time'
  =f.text_field :order_time
  %br
  =f.submit 'checkout'
  or
  =link_to "Continue shopping", store_path

