%div.box
  .links
    %span.back
      =link_to "Back to my cart", my_cart_path
      
  %h2 Confirm checkout
  %p.description Lorem ipsum dolor sit amet

  - form_for @order, :url => '/store/checkout' do |f|
    = f.error_messages
    = hidden_field_tag :return_to, request.request_uri
    %label
      %span Order time
      =f.text_field :order_time
    %label
      %span Notes
      =f.text_area :note, :rows => 3

    %div.spacer
      =f.submit 'checkout'

- content_for :subheader do
  %b Checkout confirm
  %br
  This page allows you to make an order
