%div.box
  %h1{:style=>'text-align: center;'} Menu
  %div.menu
    - @product_categories.each do |c|
      - if c.products.available.size > 0
        %h2= c.name
        =render :partial => 'product', :collection => c.products.available

- content_for :subheader do
  %b Store
  %br
  This page allows you to buy items
