%h1 Store

%ul
  - @product_categories.each do |c|
    %li
      %h2= c.name
      %ul
        - c.products.published.each do |p|
          %li
            ="#{link_to(p.name, p)}, #{number_to_currency(p.price)} (#{p.id})"
            =button_to "Add to cart", :action => "add_to_cart", :id => p
