%div.box
  %h1{:style=>'text-align: center;'} Search results
  %br
  %div.menu
    =render :partial => 'product', :collection => @products
  
- content_for :subheader do
  %b Search
  %br
  This page allows you to search & buy items
